In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

data = pd.read_csv("diffexp.csv", sep='\t')

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34794 entries, 0 to 34793
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Geneid             34794 non-null  object
 1   p_value            34794 non-null  float64
 2   p_value_corrected  34794 non-null  float64
dtypes: float64(2), object(1)
memory usage: 815.6+ KB

In [8]:
genes = data.loc[data['p_value_corrected'] < 0.05]
genes

            Geneid       p_value  p_value_corrected
0  ENSG00000235262  4.385772e-08           0.000381
1  ENSG00000254616  4.385772e-08           0.000381
2  ENSG00000259512  4.385772e-08           0.000381
3  ENSG00000222276  4.385772e-08           0.000381
4  ENSG00000214825  1.066017e-06           0.007418

|     Geneid    |Gene Name|Chrommosome|
|---------------|---------|-----------|
|ENSG00000235262|KDM5C-IT1|    X      |
|ENSG00000254616| ZNF628  |   11      |
|ENSG00000259512|HNRNPA1P5|   15      |
|ENSG00000222276|RNU2-33P |   14      |
|ENSG00000214825|  EI24P3 |   3       |

All but the first are labeled as pseudogenes, which are nonfunctional segments of DNA that resmble functional genes.